<section id="project-description">
  <div class="row">
    <div class="span6 offset3">
      <h3>Soyez automatiquement informé lorsque de nouveaux appels d'offres sont publiés sur <a target="_blank" href="https://seao.ca/">seao.ca</a></h3>
    </div>
  </div>
</section><!-- /#project-description -->

<hr>

<% @categories.each do |cat| %>
  <%= #cat.name 
  %>
<% end %>

<section id="feed-filter">

  <section id="filter-rules">

    <article class="rule">
      <div class="row">
        <div class="span5">
          <select class="span5">
            <option>Catégorie</option>
            <option>Categorie 1</option>
            <option>Categorie 2</option>
            <option>Categorie 3</option>
            <option>Categorie 4</option>
            <option>Categorie 5</option>
          </select>
        </div>

        <div class="span2">
          <select class="span2">
            <option>Qui contient...</option>
            <option>Qui ne contient pas...</option>
          </select>
        </div>

        <div class="span5">
          <select class="span5">
            <option>Mot-clé</option>
            <option>Tag 1</option>
            <option>Tag 2</option>
            <option>Tag 3</option>
            <option>Tag 4</option>
            <option>Tag 5</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="span2 offset10">
          <a href="" class="btn btn-small pull-right">Ajouter un critère</a>
        </div>
      </div>
    </article>

  </section><!-- /#filter-rules -->
  
</section><!-- /#feed-filter -->

<section id="subscriber">
  <div class="row">
    <div class="span4 offset2">
      <p>Un courriel sera envoyé à</p>
      <div class="control-group">
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-envelope"></i></span>
            <input class="span3 input-large" id="inputIcon" type="text" placeholder="john@doe.com">
          </div>
        </div>
      </div>
      <p>chaque fois qu'un nouvel appel d'offres correspondra aux critères sélectionnés.</p>
      <a href="" class="btn btn-primary">Confirmer</a>
    </div>

    <div class="span6">
      <p>S'abonner via un flux RSS</p>
      <code>http://www.seaoo.ca?categorie&contient=tag1&tag2&tag3</code>
    </div>
  </div>
</section><!-- /#subscriber -->