<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>SEAOO - Système Électronique d'Appel d'Offres Ouvert</title>
  <meta name="description" content="Recevez automatiquement les appel d'offres correspondants à VOS critères.">
  <meta name="viewport" content="width=device-width">
  <meta property="og:image" content="/img/seaoo.png" /> 

  <%= css :app, :media => 'screen' %>
</head>

<body>

  <header id="header" role="banner">
    <div class="container">
      <div class="row">
        <div class="span12">
          <h1 id="site-name"><%= img '/img/seaoo.png', width: 260, height: 77 %></h1>
          <h2 id="tagline">Système Électronique d'Appel d'Offres Ouvert</h2>
        </div>
      </div>
    </div><!-- /.container -->
  </header>
  <div id="wrap" class="frontpage" role="document">
    <div class="container">
    <%= yield %>
    </div><!-- /.container -->
  </div><!-- /#wrap -->

  <footer id="footer" role="contentinfo">
    <div class="container">
      <div class="row">
        <div class="span12">
          <p>Réalisé lors de l'événement 
            <a target="_blank" href="http://quebecouvert.org/events/hackonslacorruption/">Hackons la Corruption 2012</a> par 
            <a target="_blank" href="https://twitter.com/j15e">@j15e</a>,
            <a target="_blank" href="https://twitter.com/JeanSebTr">@JeanSebTr</a>,
            <a target="_blank" href="https://twitter.com/phildionne">@phildionne</a>,
            <a target="_blank" href="https://twitter.com/alain_gilbert">@alain_gilbert</a>, 
            <a target="_blank" href="https://twitter.com/mongolito404">@mongolito404</a>.
            </p>
          <p>Merci aux plans gratuits de <a target="_blank" href="http://www.heroku.com/">Heroku</a> (hébergement), 
            <a target="_blank" href="https://mongolab.com">Mongolab</a> (base de données) et 
            <a target="_blank" href="http://sendgrid.com/">Sendgrid</a> (courriels).</p>
        </div>
      </div>
    </div><!-- /.container -->
  </footer><!-- /#footer -->  

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
  <%= js  :app %>
  <script>
  var _gaq=[['_setAccount','UA-36239415-1'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>